.Game {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
    width: 500px;
}

.Header {
    font-size: 50px;
    font-weight: bold;
    color: #776e65;
    user-select: none;
}

.Horizontal {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 200px;
}
