.GameOver {
    z-index: 4;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    color: rgba(11, 11, 11, 0.76);
    font-weight: bolder;
    font-size: 60px;
    user-select: none;
    user-focus: none;
}

