.Points {
    border-style: none;
    border-radius: 2px;
    background: #baada0;
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 250px;
}

.Text {
    font-size: 14px;
    color: #665a47;
    font-weight: bolder;
    margin-right: 5px;
}

.Numbers {
    font-size: 24px;
    color: white;
    font-weight: bold;
}
