.Backdrop {
    z-index: 3;
    position: absolute;
    height: 100%;
    width: 100%;

    background: rgba(255, 255, 255, 0.5);
    opacity: 1;
}

.BackdropIn {
    animation: backdrop-in 0.2s linear 0s 1 forwards;
}

@keyframes backdrop-in {
    from {opacity: 0}
    to { opacity: 1 }
}