.Button {
    background: #baada0;
    color: white;
    border-style: none;
    border-radius: 2px;
    width: 40px;
    font-size: 30px;
    display: inline-flex;
    cursor: pointer;
}

.Button:hover {
    background: #a1958a;
}

.Button:focus {
    outline: none;
}